CipWsMock/WebContent/wsdl/controleGarantia.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns1="http://dto.webservice.scg.cipbancos.org.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.scg.cipbancos.org.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SCGService" targetNamespace="http://webservice.scg.cipbancos.org.br">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.webservice.scg.cipbancos.org.br">
            <xsd:complexType name="SCGRequest">
                <xsd:sequence>
                    <xsd:element name="timeOut" type="xsd:int"/>
                    <xsd:element name="request" type="xsd:hexBinary"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SCGResponse">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:int"/>
                    <xsd:element name="confirmation" type="xsd:string"/>
                    <xsd:element name="response" type="xsd:hexBinary"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://webservice.scg.cipbancos.org.br">
            <xsd:import namespace="http://dto.webservice.scg.cipbancos.org.br"/>
            <xsd:element name="scgRequest" type="ns1:SCGRequest"/>
            <xsd:element name="scgResponse" type="ns1:SCGResponse"/>
            <xsd:element name="confirmation" type="xsd:string"/>
            <xsd:element name="id" type="xsd:string"/>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SCGRetryByConfirmation">
    <wsdl:part element="tns:confirmation" name="confirmation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SCGResponseMessage">
    <wsdl:part element="tns:scgResponse" name="scgResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SCGRequestMessage">
    <wsdl:part element="tns:scgRequest" name="scgRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SCGRetryById">
    <wsdl:part element="tns:id" name="id">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ControleGarantia">
    <wsdl:operation name="executeOperation">
      <wsdl:input message="tns:SCGRequestMessage" name="SCGRequest">
    </wsdl:input>
      <wsdl:output message="tns:SCGResponseMessage" name="SCGResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retryByConfirmationOperation">
      <wsdl:input message="tns:SCGRetryByConfirmation" name="SCGRetryByConfirmation">
    </wsdl:input>
      <wsdl:output message="tns:SCGResponseMessage" name="SCGResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retryByIdOperation">
      <wsdl:input message="tns:SCGRetryById" name="SCGRetryById">
    </wsdl:input>
      <wsdl:output message="tns:SCGResponseMessage" name="SCGResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SCGServiceSOAP" type="tns:ControleGarantia">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="executeOperation">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retryByConfirmationOperation">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retryByIdOperation">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SCGService">
    <wsdl:port binding="tns:SCGServiceSOAP" name="controleGarantia">
      <soap:address location="http://localhost:8080/CipWsMock/services/controleGarantia"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
